@import './components/GreetSection/greet-section.css';
@import './components/Button/button.css';
@import './components/Navigation/navigation.css';
@import './components/BurgerButton/burger-button.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* layout */
  .my-container {
    @apply container box-border min-w-[320px];
  }
  /* links */
  .link {
    @apply cursor-pointer hover:text-primary transition-colors p-2;
  }
  /* buttons */
  .button {
    @apply box-border w-[167px] py-[12px] pl-6 font-medium tracking-tightest rounded-md uppercase relative transition-all duration-300 xl:w-[207px] xl:pl-0;
  }
  .button--primary {
    @apply bg-primary text-white hover:bg-primaryDark;
  }
  .button--white {
    @apply bg-white text-grey border border-grey hover:border-primaryDark hover:text-primaryDark hover:fill-primaryDark;
  }
  .button-icon {
    @apply absolute left-[20px] top-[50%] -translate-y-1/2;
  }
}

html {
  font-size: 18px;
  line-height: 130%;
}

body {
  padding: 0 calc(20px - (100vw - 100%)) 0 0;
}
